html, body {
    min-height: 100%;
}

form {
    width: 100%;
    padding: 20px;
    border-radius: 6px;
    background: #fff;
}
.submit h3{
    text-align: center;
}
body, div, form, input, select, textarea, p { 
    padding: 0;
    margin: 0;
    outline: none;
    font-family: Roboto, Arial, sans-serif;
    font-size: 14px;
    color: #666;
    line-height: 22px;
}
h1 {
    margin: 0;
    font-weight: 400;
}
h3 {
    margin: 12px 0;
    color: #8ebf42;
}

.main-block {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
}

.btnn{
    float: right;
    margin-right: 0;
    overflow: auto;
}

.checkbox input{
    width: auto;
    margin: -2px 10px 0 0;
}

